{
  "openapi": "3.0.0",
  "info": {
    "title": "API de Resultados de Tómbola (Quiniela Salta)",
    "version": "1.1.0",
    "description": "Esta especificación OpenAPI describe el endpoint para obtener los extractos de la Tómbola Salteña incluyendo los sorteos EXTRA, NOCTURNO, MATUTINO, VESPERTINO y NOCTURNO EXTRA (Salta La Revancha) en las diferentes regiones donde se sortea de SALTA, NACIONAL (CIUDAD DE BUENOS AIRES), JUJUY Y BSAS (PROVINCIA DE BUENOS AIRES)."
  },
  "servers": [
    {
      "url": "https://www.loteriadesalta.com/loteria-ws/api"
    }
  ],
  "paths": {
    "/extracto/TOMBOLA/ultimo/salta": {
      "get": {
        "summary": "Último extracto de Tómbola en Salta",
        "description": "Obtiene los 20 números sorteados para cada tipo de sorteo y región.\nParámetro de consulta ` _ ` (timestamp en ms) para evitar caché.",
        "parameters": [
          {
            "name": "_",
            "in": "query",
            "description": "Timestamp Unix en milisegundos para evitar caché",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1745328095450
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta exitosa con JSON de resultados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud mal formada (Bad Request)"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponse": {
        "type": "object",
      "properties": {
        "jugadaDiaria": {
            "$ref": "#/components/schemas/JugadaDiaria"
          },
          "today": {
            "type": "integer",
            "format": "int64"
          },
          "resultados": {
            "$ref": "#/components/schemas/Resultados"
          },
        "ultimosJuegos": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/UltimoJuego"
          }
        },
        "fecha": {
          "type": "integer",
          "format": "int64",
          "description": "Fecha de consulta de los resultados"
        }
        },
      "required": ["jugadaDiaria", "today", "resultados", "ultimosJuegos", "fecha"]
      },
      "JugadaDiaria": {
        "type": "object",
        "properties": {
          "juego": {
            "type": "string",
            "example": "TOMBOLA"
          },
          "fecha": {
            "type": "integer",
            "format": "int64"
          },
          "instalacion": {
            "type": "string",
            "example": "salta"
          }
        },
        "required": ["juego", "fecha", "instalacion"]
      },
      "Resultados": {
        "type": "object",
        "properties": {
        "EXTRA": {
          "$ref": "#/components/schemas/ModalidadResult"
        },
        "NOCTURNO": {
          "$ref": "#/components/schemas/ModalidadResult"
        },
        "MATUTINO": {
          "$ref": "#/components/schemas/ModalidadResult"
        },
        "VESPERTINO": {
          "$ref": "#/components/schemas/ModalidadResult"
        },
        "NOCTURNO EXTRA": {
          "$ref": "#/components/schemas/ModalidadResult"
        }
        },
      "required": ["EXTRA", "NOCTURNO", "MATUTINO", "VESPERTINO", "NOCTURNO EXTRA"]
      },
      "SorteoRegionMap": {
        "type": "object",
        "properties": {
          "JUJUY": {
            "$ref": "#/components/schemas/SorteoInfo"
          },
          "NACIONAL": {
            "$ref": "#/components/schemas/SorteoInfo"
          },
          "SALTA": {
            "$ref": "#/components/schemas/SorteoInfo"
          },
          "BSAS": {
            "$ref": "#/components/schemas/SorteoInfo"
          }
        },
        "required": ["JUJUY", "NACIONAL", "SALTA", "BSAS"]
      },
      "SorteoInfo": {
        "type": "object",
        "properties": {
          "horaSorteo": {
            "type": "string",
            "example": "12:00"
          },
          "descripcionSorteo": {
            "type": "string",
            "description": "Descripción del sorteo según región",
            "example": "Matutino Salta"
          },
          "tipoSorteo": {
            "type": "string",
            "enum": ["E", "N", "M", "V"],
            "description": "E = Extra, N = Nocturno, M = Matutino, V = Vespertino"
          },
          "atHome": {
            "type": "integer",
            "description": "1 = sorteo principal (región asignada), 0 = remoto",
            "example": 1
          },
          "extracto": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de 20 números sorteados",
            "example": ["4141", "5824", "2960", "3648"]
          },
          "fechaSorteo": {
            "type": "string",
            "format": "date",
            "example": "18/07/2025"
          }
        },
        "required": ["horaSorteo", "descripcionSorteo", "tipoSorteo", "atHome", "extracto", "fechaSorteo"]
      },
      "UltimoJuego": {
        "type": "object",
        "properties": {
          "numeroSorteo": {
            "type": "string"
          },
          "fechaSorteo": {
            "type": "string",
            "example": "18/07/2025"
          },
          "fecha": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": ["numeroSorteo", "fechaSorteo", "fecha"]
      }
      ,
      "ModalidadResult": {
        "type": "object",
        "properties": {
          "extractos": {
            "$ref": "#/components/schemas/SorteoRegionMap"
          },
          "f_sorte": {
            "type": "string",
            "format": "date",
            "description": "Fecha de sorteo principal"
          }
        },
        "required": ["extractos", "f_sorte"]
      }
    }
  }
}
